@media screen and (max-width: 768px) {
  h1.logo {
    margin: 30px auto 0;
    float: none;
  }

  header {
    nav {
      float: none;
      clear: left;
      width: 100%;
    }
  }

  footer {
    ul {
      width: 48%;
      text-align: center;
    }
  }
}
